*, ::before, ::after {
  z-index: 3;
}
.carouselCard {
  position: absolute;
  width: 220px;
  height: 275px;
  left: 0;
  right: 0;
  margin: auto;
  transition: transform .4s ease;
  cursor: pointer;
}

.cards {
  position: relative;
  width: 100%;
  height: 100%;
  margin-top: 10vh;
}

input[type="radio"] {
  display: none;
}

#item-1:checked ~ .cards #tile-3,
#item-2:checked ~ .cards #tile-1,
#item-3:checked ~ .cards #tile-2 {
  transform: translatex(-50%) scale(.7);
  z-index: 1;
}

#item-1:checked ~ .cards #tile-2,
#item-2:checked ~ .cards #tile-3,
#item-3:checked ~ .cards #tile-1
 {
  transform: translatex(50%) scale(.7);
  z-index: 1;
}

#item-1:checked ~ .cards #tile-1,
#item-2:checked ~ .cards #tile-2,
#item-3:checked ~ .cards #tile-3 {
  transform: translatex(0) scale(0.9);
  opacity: 1;
  z-index: 2;
  
  .img_card {
    box-shadow: 0px 0px 5px 0px rgba(81, 81, 81, 0.47);
  }
}

.img_card {
  height: 100%;
  width: 100%;
  border-radius: 10px;
  object-fit: cover;
  border-radius: 10px;
  z-index:0;
}
  